<section id="contactMap">
    <iframe class="map-frame" title="Seafarer Office Location"
            src="https://www.google.com/maps?q=Road+Town+British+Virgin+Islands&output=embed"
            loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</section>