<section id="hero">
    <div class="swiper-wrapper">
        <div class="swiper-slide hero-slide"
             style="background-image: url('https://seafarer.qodeinteractive.com/wp-content/uploads/2021/07/home-1-rev-1.jpg');">
            <div class="hero-content">
                <div class="pre-title">NAUTICAL COMPANY</div>
                <h1>YACHTING</h1>
                <p>
                    Embark on a new adventure! Luxury yacht booking for exclusive private cruises around the most
                    exotic and tranquil islands in the Caribbean.
                </p>
                <div class="btn-group">
                    <a href="#" class="btn btn-outline">VIEW MORE</a>
                    <a href="#" class="btn btn-filled">EXPLORE</a>
                </div>
            </div>
        </div>
        <div class="swiper-slide hero-slide"
             style="background-image: url('https://seafarer.qodeinteractive.com/wp-content/uploads/2021/10/home-1-rev-2.jpg');">
            <div class="hero-content">
                <div class="pre-title">YACHT TYPE VARIETY</div>
                <h1>CRUISERS</h1>
                <p>
                    Modern design sports cruisers for those who crave adventure & grandeur yachts for relaxing
                    travels with your loved ones.
                </p>
                <div class="btn-group">
                    <a href="#" class="btn btn-outline">VIEW MORE</a>
                    <a href="#" class="btn btn-filled">EXPLORE</a>
                </div>
            </div>
        </div>
        <div class="swiper-slide hero-slide"
             style="background-image: url('https://seafarer.qodeinteractive.com/wp-content/uploads/2021/10/home-1-rev-3.jpg');">
            <div class="hero-content">
                <div class="pre-title">NEW OPEN YACHTS</div>
                <h1>JOURNEY</h1>
                <p>
                    Our high tech open yachts are ideal for summer day adventures. Explore the Caribbean shores with
                    our newest yachts.
                </p>
                <div class="btn-group">
                    <a href="#" class="btn btn-outline">VIEW MORE</a>
                    <a href="#" class="btn btn-filled">EXPLORE</a>
                </div>
            </div>
        </div>
    </div>
    <div class="swiper-button-prev-custom"><i class="fas fa-chevron-left"></i></div>
    <div class="swiper-button-next-custom"><i class="fas fa-chevron-right"></i></div>
</section>
