    <section id="tours-section">

        <div class="tour-slider swiper">
            <div class="swiper-wrapper">

                <div class="swiper-slide">
                    <div class="tour-card"><img
                            src="https://seafarer.qodeinteractive.com/wp-content/uploads/2021/08/list-img-1.jpg"></div>
                </div>

                <div class="swiper-slide">
                    <div class="tour-card"><img
                            src="https://seafarer.qodeinteractive.com/wp-content/uploads/2021/08/list-img-2.jpg"></div>
                </div>

                <div class="swiper-slide">
                    <div class="tour-card"><img
                            src="https://seafarer.qodeinteractive.com/wp-content/uploads/2021/08/list-img-3.jpg"></div>
                </div>

                <div class="swiper-slide">
                    <div class="tour-card"><img
                            src="https://seafarer.qodeinteractive.com/wp-content/uploads/2021/08/list-img-1.jpg"></div>
                </div>

            </div>
        </div>

    </section>