<section id="counterSection">
    <div class="stat">
        <h2 data-count="237">0</h2>
        <p>YACHTS</p>
    </div>

    <div class="stat">
        <h2 data-count="561">0</h2>
        <p>CLIENTS</p>
    </div>

    <div class="stat">
        <h2 data-count="123">0</h2>
        <p>AWARDS</p>
    </div>

    <div class="stat">
        <h2 data-count="307">0</h2>
        <p>TRIPS</p>
    </div>
</section>
