@{
    ViewData["Title"] = "Admin Dashboard";
}

<p class="admin-content__subtitle">WELCOME</p>
<h1 class="admin-h1">Admin Dashboard</h1>

@section Styles {
    <link rel="stylesheet" href="~/admin/assets/style/dashboard.css" />
}