<section id="discover">
    <div class="discover-content">
        <h1 class="discover-title">DISCOVER NEW YACHTS</h1>
        <div class="discover-buttons">
            <a href="#" class="btn-view-more">VIEW MORE</a>
        </div>
    </div>
</section>
